<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewBag.Title</title>*@
    <title>@ViewData["Title"] - Romeu Project</title>

    <environment names="Development">
        <link href="~/lib/semantic/dist/semantic.min.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

    <environment names="Staging.Production">
        <link href="~/lib/semantic/dist/semantic.min.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    @*@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)*@
    @Html.Raw(snippet.FullScript)

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    <environment names="Staging.Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/semantic/dist/semantic.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    <header>
        @*Nome da sessao (para relacionar nas paginas que chamam o layout) e se eh required ou nao*@
        @RenderSection("header", false)
    </header>

    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", false)

    <footer>
        @*<p>My Footer</p>
        @await Component.InvokeAsync("First")*@
    </footer>
</body>
</html>
